.contents{
  margin-left: 2%;
  font-size: 100%;
  transition: margin-left 0.3s ease;
  
}


#subtitle{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.contents li{
  list-style-type: none;
  position: relative;
}


.discList {
  position: relative;
  padding-left: 20px; 
}

.discList::before {
  content: '';  
  position: absolute;
  left: 0;
  top: 50%; 
  transform: translateY(-50%); 
  width: 6px; 
  height: 6px; 
  border-radius: 50%; 
  background-color: black;
} 

.contexts p {
  margin-left: 0%;
  margin-bottom: 1.5%;
}